<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Vishnu Ram</h1>
        <p>AI & Data Science Student | Cloud & DevOps Enthusiast</p>
    </header>

    <section>
        <h2>About Me</h2>
        <p>
            I am a B.Tech AI & Data Science student interested in
            Cloud, DevOps and Software Engineering.
        </p>
    </section>

    <section>
        <h2>Skills</h2>
        <p>Python | Linux | AWS | Docker | Jenkins | Git | SQL</p>
    </section>

    <section>
        <h2>Projects</h2>
        <ul>
            <li>Automated Incident & Outage Classifier</li>
            <li>YouTube Video Summarizer</li>
            <li>Image Segmentation using Machine Learning</li>
        </ul>
    </section>

    <section>
        <h2>Contact</h2>
        <p>Email: example@gmail.com</p>
    </section>

</body>
</html>